<% @questions.each do |question| %>
    <p><%= question.user.email %></p>
    <p><%= link_to question.title, question_path(question) %></p>
    <p><%= question.created_at.strftime("%A %b %d, %Y %l:%M %p") %></p>
<% end %>

